<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly"
    android:targetSandboxVersion="2">

    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_WATCH" />

    <application
        android:name="app.logdate.client.LogdateApplication"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogDate"
        tools:targetApi="34">

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name="app.logdate.client.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LogDate"
            android:enableOnBackInvokedCallback="true"
            android:documentLaunchMode="intoExisting"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <meta-data
                android:name="android.allow.multiple_resumed_activities"
                android:value="true" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:host="logdate.app" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="logdate" />

                <data android:host="journal" />
                <data android:host="rewind" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- TODO: Support sharing images -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="app.logdate.client.EditorActivity"
            android:exported="true"
            android:theme="@style/Theme.LogDate"
            android:enableOnBackInvokedCallback="true"
            android:documentLaunchMode="always"
            android:windowSoftInputMode="adjustResize"
            android:resizeableActivity="true"
            android:taskAffinity=".editor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Data Layer sync listener: receives notes, journals, associations, health data, and messages from paired Wear OS watch -->
        <service
            android:name="app.logdate.client.sync.PhoneDataLayerListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/logdate/notes" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/logdate/journals" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/logdate/associations" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/logdate/health" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/logdate/sync" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/logdate/notes" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/logdate/camera" />
            </intent-filter>
        </service>
    </application>

</manifest>
