<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="app.logdate.client.e2e.ShareEntryPointHostActivity"
            android:exported="false"
            android:theme="@style/Theme.LogDate" />
        <activity
            android:name="app.logdate.client.e2e.VideoPlaybackHostActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.LogDate" />
    </application>
</manifest>
