<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name=".sharing.ShareReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>
    </application>
</manifest>